@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/** barra navegación**/
.nav {
    height: 60px;
    background: lightpink;
}
.nav div a {
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 15px;
    font-size: 22px;
    color: black;
    text-shadow: 2px 2px 2px white;
    font-family: 'Patrick Hand', cursive;
    text-decoration: none;
}
.nav ul {
    position: absolute;
    right: 5px;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a {
    color: black;
    padding: 8px;
    text-shadow: 2px 2px 2px white;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: large;
}
/** termina barra navegación**/

/** home - pag principal - text-img**/
.home {
    background: url('http://images.unsplash.com/photo-1529959545196-2f137c0af722?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjI5NTE5OTM1&ixlib=rb-1.2.1&q=80&w=1080');
    background-size: cover;
    height: 100vh;
}
.text-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-shadow: 7px 6px 5px black;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
}
/* section 1 */
.section1-index-div_container {
    width: 100%;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}
.section1-index-div1 {
    padding: 0 50px 50px 50px;
    font-family: 'Patrick Hand', cursive;
    text-align: justify;
    font-size: 20px;
}
.section1-index-div1 h1 {
    text-align: center;
}
/* section 1 */

/** home - pag principal - text-img**/

/*--------------------------------------------------------*/

/** pag about me **/
.about-content {
    margin: 20px auto 0 auto;
    width: 100%;
    background-color: lightpink;
    border-radius: 10px;
}
.about-content-img {
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: solid;
}
.about-content h1 {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
}
.about-content p {
    text-align: justify;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    padding: 8px;
}
/** pag about me **/

/* pag escritos-services*/
    /* primer corte*/
.section_1corte {
    width: 100%;
    background-image: linear-gradient(to right top, #46639a, #008ec7, #00b6c1, #00d783, #a8eb12);
    text-align: center;
    border-radius: 10px;
    margin-top: -10px;
}
.section_1corte h1 {
    padding-top: 10px;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
}
.section_1corte button{
    margin-bottom: 50px;
    width: 50%;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(to left bottom, #50dcdd, #79e3ce, #9ee8c1, #c0ecba, #deefba);
    border: 2px solid white;
}
.section_1corte button:hover {
    background-image: linear-gradient(to right top, #46639a, #008ec7, #00b6c1, #00d783, #a8eb12);    
}
.section_1corte a {
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    text-decoration: none;
}
.section_1corte a:hover {
    color:white;
}
    /* primer corte*/
/* pag escritos-services*/


/*--------------------------------------------------------*/
/** pag 1corte **/
/* 1 texto técnologias, débates, etica y moral*/
.section-escritos-div {
    width: 100%;
    background-color: rgb(235, 191, 218);
    margin-top: 10px;
    border-radius:10px;
}
.section-escritos-div-escrito-1 {
    padding: 13px;
    font-family: 'Patrick Hand', cursive;
    text-align: justify;
    font-size: 20px;
}
.section-escritos-div-escrito-1 h1 {
    text-align: center;
}
/* 1 texto */
/* 2 texto el casi eterno despertar de lupita*/
.section2-escritos-div {
    width: 100%;
    background-color: rgb(207, 230, 238);
    border-radius: 10px;
    margin-top: 10px;
}
.section2-escritos-div-escrito-2 {
    padding: 13px;
    font-family: 'Patrick Hand', cursive;
    text-align: justify;
    font-size: 20px;
}
.section2-escritos-div-escrito-2 h1 {
    text-align: center;
}
.section2-escritos-div-escrito-2 h6 {
    text-align: center;
    font-size: 20px;
}
/* 2 texto */
/* 3 texto */ 
.section3-escritos-div {
    width: 100%;
    background-color: #f9dd7e;
    margin-top: 10px;
    border-radius:10px;
}
.section3-escritos-div-escrito-3 {
    padding: 13px;
    font-family: 'Patrick Hand', cursive;
    text-align: justify;
    font-size: 20px;
}
.section3-escritos-div-escrito-3 h1 {
    text-align: center;
}
.section3-escritos-div-escrito-3 h6 {
    text-align: center;
    font-size: 20px;
}
/* 3 texto auge tecnologico*/ 
/** termina 1corte **/

/*-----------------------------------------------------------/

/** pag contact **/
.contact-content {
    margin: 80px auto 0 auto;
    text-align: center;
}
.contact-content h1 {
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
}
.contact-content .address-holder {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
}
/** termina pag contact**/

